.centertext {
	text-align: center;
}

* {
	margin: 0;
	padding: 0;
}

.home {
	height: 1500px;
	max-width: 100%;
	background-color: rgb(88, 142, 162);
}

.parallax-bg {
	height: 38%;
	padding: 7% 0;
	background-image: url('../images/wood.jpeg');
	background-size: cover;
	background-attachment: fixed;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.content-o {
	height: 1500px;
	max-width: 100%;
	background-image: url('../images/white.jpeg');
	background-size: cover;
	background-attachment: fixed;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.parallax-two {
	padding: 3% 0;
	height: 46%;
	background-color: white;
	background-size: cover;
	background-attachment: fixed;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.testing {
	height: 100%;
}

.welcome {
	font-family: 'Cantata One', serif;
	font-size: 4.5em;
	color: white;
	margin-top: 13%;
}

.splashicon {
	font-size: 2em;
}

.tagline {
	color: #E2F1C7;
	font-family: 'Nixie One', cursive;
	margin-top: 2%;
	font-size: 1.5em;
}

/************ ARROW CSS ************/

.arrow {
	font-size: 5em;
	margin-top: -2%;
	float: right;
	margin-right: 4%;
	color: rgba(255, 255, 255, 0.23);
	text-decoration: none;
}

.arrowleft {
	font-size: 5em;
	margin-top: -2%;
	float: left;
	margin-left: 4%;
	color: rgba(255, 255, 255, 0.23);
	text-decoration: none;
}

.arrow-a {
	font-size: 5em;
	float: right;
	margin-right: 4%;
	color: rgba(206, 208, 212, 0.47);
	text-decoration: none;
	z-index: -999;
	margin-top: 13%;
}

.arrowleft-a {
	font-size: 5em;
	float: left;
	margin-left: 4%;
	color: rgba(206, 208, 212, 0.47);
	text-decoration: none;
	z-index: -999;
	margin-top: 13%;
}

.arrow-b {
	font-size: 5em;
	float: right;
	margin-right: 4%;
	color: rgba(212, 205, 151, 0.47);
	text-decoration: none;
	margin-top: 18%;
}

.arrowleft-b {
	font-size: 5em;
	float: left;
	margin-left: 4%;
	color: rgba(212, 205, 151, 0.47);
	text-decoration: none;
	margin-top: 18%;
}

.arrow-c {
	font-size: 5em;
	float: right;
	margin-right: 4%;
	color: rgba(182, 187, 195, 0.55);
	text-decoration: none;
	z-index: -999;
}

.arrowleft-c {
	font-size: 5em;
	float: left;
	margin-left: 4%;
	color: rgba(182, 187, 195, 0.55);
	text-decoration: none;
	z-index: -999;
}

/*************** NAVBAR ***************/


ul {
    list-style-type: none;
    position: fixed;
    margin: 0 auto;	
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 100%;
}

#nav { 
	text-align: center;
	z-index: 999999;
}

li {
	margin: 0 auto;
	display: inline-block;
}

li a {
  display: block;
  color: rgba(92, 91, 93, 0.41);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	font-family: 'Raleway', sans-serif;
}

li a:hover {
  background-color: #B5BDC1;
}

li a:visited {
	background: #B5BDC1;
}


/************* ABOUT PAGE ****************/

.about {
	font-family: 'Cantata One', serif;
	font-size: 5em;
	color: white;
	margin-top: -8%;
	margin-bottom: -2%;
}

.aboutmessage {
	margin-bottom: 15%;
}

.aboutinfo {
	padding: 6% 30%;
	font-family: 'Raleway', sans-serif;
	color: rgb(40, 40, 41);
}

b {
	color: #F1EFA1;
}

/************ PROJECT CSS *****************/

.projects {
	font-family: 'Cantata One', serif;
	font-size: 3em;
	color: #80827A;
	margin-top: -2%;
	margin-bottom: 2%;
}

.project-name {
	color: #B1AC62;
	font-size: 1.3em;
	text-align: center;
}

.project-details {
	font-family: 'Raleway', sans-serif;
	text-align: left;
	margin: 0 25%;
}

.proj {
	color: #80827A;
}

.fa-arrow-circle-right {
	text-decoration: none;
	color: #80827A;
	font-size: 1.3em;
}

.fa-github {
	text-decoration: none;
	color: #80827A;
	font-size: 1.3em;
}

.project-icons {
	margin: 0 auto;
}

img.project-image {
	max-width: 60%;
	max-height: 60%;
	margin: 0 auto;
}

.projfa:hover {
	color: #B1AC62;
}

/*********** CONTACT INFO ***************/

.contactinfo {
	margin-top: -35%;
}

.icon {
	font-size: 5em;
	text-decoration: none;
	color: rgb(88, 142, 162);;
	padding: 0.5%;
}

.icon:hover {
	color: #B1AC62;
}

.contactmessage {
	font-family: 'Cantata One', serif;
	color: #7B7B75;
	font-size: 3.5em;
}

.message {
	color: white;
	letter-spacing: 1.5px;
}


/******** PROJECT SLICK BAR ************/

.slick-prev {
	border: none;
	background-color: rgb(88, 142, 162);
	border-radius: 4px;
	font-size: 16px;
	height: 25px;
	width: 8%;
	color: #FFF;
}

.slick-next {
	background-color: rgb(88, 142, 162);
	border: none;
	border-radius: 4px;
	font-size: 16px;
	height: 25px;
	width: 8%;
	color: #FFF;
}

.slick-slider {
	margin: 0 6%;
}

.slick-slide {
	margin-top: 0.5%;
}

/**************** FOOTER *******************/

.footer {
	margin-top: 16%;
	color: grey;
	font-family: 'Nixie One', cursive;
}

