.centertext {
	text-align: center;
}

* {
	margin: 0;
	padding: 0;
}

p {
	text-align: center;
}

.home {
	height: 1500px;
	max-width: 100%;
	background-color: rgb(77, 140, 134);
}

.parallax-bg {
	height: 38%;
	padding: 7% 0;
	background-image: url('../images/wood.jpeg');
	background-size: cover;
	background-attachment: fixed;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.content-o {
	height: 1500px;
	max-width: 100%;
	background-image: url('../images/plant.jpeg');
	background-size: cover;
	background-attachment: fixed;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.parallax-two {
	padding: 3% 0;
	height: 46%;
	background-color: white;
	background-size: cover;
	background-attachment: fixed;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.testing {
	height: 100%;
}

.welcome {
	font-family: 'Cantata One', serif;
	font-size: 4.5em;
	color: white;
	margin-top: 13%;
	text-shadow: 0 0 3px #000000;
}

.tagline {
	color: #E2F1C7;
	font-family: 'Nixie One', cursive;
	margin-top: 2%;
	font-size: 1.5em;
	font-weight: bold;
}

/************ HIDDEN ARROW ***************/

.hiddenarrow {
	visibility: hidden;
}

/*************** NAVBAR ***************/


ul {
    list-style-type: none;
    position: fixed;
    margin: 0 auto;	
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 100%;
}

#nav { 
	text-align: center;
	z-index: 999999;
}

li {
	margin: 0 auto;
	display: inline-block;
}

li a {
  display: block;
  color: rgb(107, 109, 109);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	font-family: 'Raleway', sans-serif;
}

li a:hover {
  background-color: #B5BDC1;
}

li a:visited {
	background: #B5BDC1;
}


/************* ABOUT PAGE ****************/

.about {
	font-family: 'Cantata One', serif;
	font-size: 5em;
	color: white;
	margin-top: -8%;
	margin-bottom: -2%;
}

.aboutmessage {
	margin-bottom: 15%;
}

.aboutinfo {
	padding: 6% 30%;
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: left;
}

b {
	color: #F1EFA1;
}

/************ PROJECT CSS *****************/

.projects {
	font-family: 'Cantata One', serif;
	font-size: 3em;
	color: #80827A;
	margin-top: -2%;
}

.project-name {
	color: #B1AC62;
	font-size: 1.3em;
	text-align: center;
	text-decoration: none;
}

.project-name:hover {
	color: rgb(77, 140, 134);
}

.project-details {
	font-family: 'Raleway', sans-serif;
	text-align: left;
	margin: 0 25%;
}

.proj {
	color: #80827A;
}

.fa-github {
	text-decoration: none;
	color: #80827A;
	font-size: 1.3em;
}

.project-icons {
	margin: 0 auto;
}

img.project-image {
	max-width: 60%;
	max-height: 60%;
	margin: 0 auto;
}

.projfa:hover {
	color: rgb(77, 140, 134);
}

/*********** CONTACT INFO ***************/

.contactinfo {
	margin-top: -35%;
}

.icon {
	font-size: 5em;
	text-decoration: none;
	color: rgb(77, 140, 134);
	padding: 0.5%;
}

.icon:hover {
	color: #B1AC62;
	text-shadow: 0 0 3px #000000;
}

.splashicon {
	font-size: 3em;
	text-decoration: none;
	color: #FFF;
	padding: 0.5%;
}

.splashicon:hover {
	color: rgb(77, 140, 134);
	text-shadow: 0 0 3px #000000;
}


.contactmessage {
	font-family: 'Cantata One', serif;
	color: #FFFFFF;
	font-size: 3.5em;
	text-shadow: 0 0 3px #000000;
}

.message {
	color: white;
	letter-spacing: 1.5px;
}


/******** PROJECT SLICK BAR ************/

.slickleft {
	color: #B1AC62;
	font-size: 3em;
	z-index: -99999;
}

.slickleft:hover {
	color: rgb(77, 140, 134);
	text-shadow: 0 0 3px #000000;
}

.slickright {
	margin-left: 5%;
	color: #B1AC62;
	font-size: 3em;
	z-index: -999999;
}

.slickright:hover {
	color: rgb(77, 140, 134);
	text-shadow: 0 0 3px #000000;
}

.slick-slider {
	margin: 0 6%;
}

.slick-slide {
	margin-top: 0.5%;
}

/**************** FOOTER *******************/

.footer {
	margin-top: 16%;
	color: #FFF;
	font-family: 'Nixie One', cursive;
}

/********** TESTING ARROWS ************/

.arrowdiv {
	text-align: center;
}
